*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:$acolor;
}

.sombreadoHeader a:hover{
    color: #99D255;
    background-color: #BC0250;
}


.borderHome{
    @include borderHome(1px,1px solid #BC0250);
}
.gridTextoHome{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    justify-content:center;
    background-color: #F2F5F7;
}
.gridTxtHome1{
    padding: 5%;
}
