h1{
    color:#BC0250;
    text-align: center;
}
.coloracordeon{
    background-color: #BC0250;
    color: #99D255;
}
.bannerSedes{
    height: 100%;
    width: 100%;
}
.colorbodyacordeon{
    background-color:#99D255;
}
.noSosParte{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10% ;
}
.card-title{
    font-weight: bold;
    font-size: 30px;
}
.card-text{
    padding: 10PX;
    font-size: 20PX;
}
.back-cards{
    background-color:#F0F3F6 ;
}
.cardCabecera{
    font-size:50px;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}
.cardSuc {
    margin: 0 3.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
.card img {
    max-width: 100%;
    max-height: 100%;
  }
  .carousel-inner {
    padding: 1em;
  }
  
  h2{
    font-weight: bold;
    color: #BC0250;
    text-align: center;
}
.telCasaCentral{
    background-color:#F2F5F7 ;
}
.telCasaCentral p{
    text-align: center;
    font-size: 60px;
    color: #BC0250;
}
.centrosMedicosListados{
    display: flex;
    justify-content: space-evenly;
    background-color: #F2F5F7;
}

.cenMedLis{
background-color: #F0F3F6;
width: 25%;
    li{
    list-style: none;
    }
}
.cenMedLis li::before{
        content: ">>";
        color: #BC0250;
        display: inline-block;
}
.cardPlan{
    margin: 0 3.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
.progress-bar-color-azul{
    @include progress-bar-color(#00BAEF)
}
.progress-bar-color-bronce{
    @include progress-bar-color(#FEAF00)
}
.progress-bar-color-plata{
    @include progress-bar-color(#C0C0C0)
}
.progress-bar-color-oro{
    @include progress-bar-color(#D4AF37)
}

.medicacion-dispo{
    background-color: #F0F3F6;
    margin: 2%;
    padding: 2%;
}
.container-contacto{
    display: flex;
    justify-content: center;
    padding: 2%;
}
.item-contacto{
    width:45% ;
}
.item-contacto2{
    width:5% ;
}

.btn-form-contact{
    background-color: #BC0250;
    color: #99D255;
}